{% load static %}

{% include 'home/blocks/header.html' %}
{% include 'home/blocks/menu.html' %}
{% include 'home/blocks/navbar.html' %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4">Обезьяна с гранатой:</h4>

        {% for book in books|slice:":1" %}
            <div class="row">

            <div class="card mb-4">
                {#        <h5 class="card-header">Javascript behavior</h5>#}
                <div class="card-body">
                    <div class="row">
                        <!-- Custom content with heading -->
                        <div class="col-lg-6 mb-4 mb-xl-0">
                            {#              <small class="text-light fw-semibold">Vertical</small>#}
                            <div class="book-details">
                                <div class="book-info">
                                    <div class="image-frame">
                                        <img src="https://cv4.litres.ru/pub/c/cover_415/69221842.webp"
                                             alt="{{ book.title }}" class="book-cover">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            {#              <small class="text-light fw-semibold">Horizontal</small>#}
                            <div class="demo-inline-spacing mt-3">
                                <div class="list-group list-group-horizontal-md text-md-center">
                                    <a class="list-group-item list-group-item-action active" id="home-list-item"
                                       data-bs-toggle="list" href="#horizontal-home"> Описание </a>
                                    <a class="list-group-item list-group-item-action" id="profile-list-item"
                                       data-bs-toggle="list" href="#horizontal-profile"> Информация </a>
                                    <a class="list-group-item list-group-item-action" id="messages-list-item"
                                       data-bs-toggle="list" href="#horizontal-messages"> Об авторе </a>
                                    <a href="https://www.litres.ru/audiobook/piter-bregman/emocionalnaya-smelost-63920001/"
                                       class="list-group-item list-group-item-action menu-link"> Литрес </a>

                                </div>
                                <div class="tab-content px-0 mt-0">
                                    <div class="tab-pane fade show active" id="horizontal-home">
                                        <p>{{ book.description }}</p>
                                    </div>
                                    <div class="tab-pane fade" id="horizontal-profile">
                                        <p><strong>Автор:</strong> Стивен Кинг</p>
                                        <p><strong>Жанр:</strong> Зарубежные детективы</p>
                                        <p><strong>Оценка:</strong> 4,6 </p>
                                    </div>
                                    <div class="tab-pane fade" id="horizontal-messages">
                                        <p> Автор красава </p>
                                    </div>
                                    <div class="tab-pane fade" id="horizontal-settings">
                                        Ссылка
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Custom content with heading -->
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <div class="book-details">
                    <div class="book-info">
                        <h4 class="fw-bold py-3 mb-4">Отзывы:</h4>
                        <div class="col-md mb-4 mb-md-0">
                            <div class="accordion mt-3" id="accordionExample">
                                <div class="card accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button type="button" class="accordion-button collapsed"
                                                data-bs-toggle="collapse" data-bs-target="#accordionThree"
                                                aria-expanded="false" aria-controls="accordionThree">
                                            <strong>Сергей</strong>
                                            <span style="margin-left: 5px; color: royalblue;">5.6</span>
                                            <span class="star-icon"
                                                  style="vertical-align: middle; color: royalblue; font-size: 16px; margin-left: 5px;">&#9733;</span>
                                        </button>

                                    </h2>
                                    <div id="accordionThree" class="accordion-collapse collapse"
                                         aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
                                        <div class="accordion-body">
                                            "Книга, которую нельзя оставить без внимания! С самого начала она
                                            захватывает своей интригой и держит в напряжении до последней страницы.
                                            Отлично проработанные персонажи, живые описания и неожиданные повороты
                                            событий делают эту книгу настоящим психологическим триллером. Я был
                                            настолько заинтригован, что не мог остановиться, пока не дочитал до конца.
                                            Браво автору!"
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </div>

    {% include 'home/blocks/footer.html' %}
