{% load static %}

{% include 'home/blocks/header.html' %}

{% include 'home/blocks/menu.html' %}

{% include 'home/blocks/navbar.html' %}

    <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"></span> Подборка от README:</h4>
                
              <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                {%  for book in books %}
                  <a href="{{ book.book_link }}" class="text-black">
                    <div class="col">
                      <div class="card h-50">
                        <img class="card-img-top" src="{{ book.pic_link }}" alt="Card image cap" />
                        <div class="card-body">
                          <h5 class="card-title">{{ book.book_name }}</h5>
                          <p class="card-text">
                            {{ book.description }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </a>
                {% endfor %}
              </div>


        {% include 'home/blocks/footer.html' %}