{% load static %}

{% load static %}

<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="{% static './home/assets/"
        data-template="vertical-menu-template-free"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title> Главная страница </title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static './home/img/logo.png' %}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static './home/assets/vendor/fonts/boxicons.css' %}"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static './home/assets/vendor/css/core.css' %}" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="{% static './home/assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="{% static './home/assets/css/demo.css' %}"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static './home/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>

    <link rel="stylesheet" href="{% static './home/assets/vendor/libs/apex-charts/apex-charts.css' %}"/>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static './home/assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static './home/assets/js/config.js' %}"></script>
</head>

<body class="modal-open" style="overflow: hidden; padding-right: 0px;" data-bs-overflow="hidden">
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar" >
    <div class="layout-container">




{% include 'home/blocks/menu.html' %}

{% include 'home/blocks/navbar.html' %}

                <div class="demo-inline-spacing">
                    <div class="col-lg-4 col-md-3">
                        <form method="POST">
                        <div class="modal show" id="modalScrollable" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
                            <div class="modal-dialog modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalScrollableTitle">Выберите жанры</h5>
                                    </div>
                                    <style>
                                        .btn-group {
                                            margin: 3px 3px 2px; /* Пример вертикального отступа 10 пикселей, можно изменить по вашему выбору */
                                        }
                                    </style>

                                    {% csrf_token %}
                                    <div class="modal-body">
                                        {% for genre in genres %}
                                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                                <input type="checkbox" name="genre_{{ genre.id }}" class="btn-check" id="{{ genre.id }}" value="{{ genre.id }}" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="{{ genre.id }}">{{ genre.genre_name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button name="non_chosen_genres" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            На главную
                                        </button>
                                        <button  name="save_genres" class="btn btn-primary">Сохранить</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        </form>
                    </div>

    <div class="modal-backdrop show"></div>
    {% include 'home/blocks/footer.html' %}

