{% load static %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="{% url 'home' %}" class="app-brand-link">
        <span class="app-brand-logo demo">
        <img width="40" src="{% static './home/img/logo.png' %}">
        </span>
            <a href="{% url 'home' %}" class="menu-link">
                <span class="app-brand-text demo menu-text fw-bolder ms-2"> readme </span>
            </a>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Страницы</span>
        </li>

        <li class="menu-item ">
            <a href="{% url 'home' %}" class="menu-link">
                <i class='menu-icon bx bxs-food-menu'></i>
                <div data-i18n="Sections">Подборки</div>
            </a>
        </li>
        {% if 'user_id' in request.session %}
        <li class="menu-item  open">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='menu-icon bx bxs-food-menu'></i>
                <div data-i18n="Basic">Моя полка</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item ">
                    <a href="{% url 'shelf' 1 %}" class="menu-link">
                        <div data-i18n="Basic">Буду читать</div>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="{% url 'shelf' 2 %}" class="menu-link">
                        <div data-i18n="Basic">Читаю</div>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="{% url 'shelf' 3 %}" class="menu-link">
                        <div data-i18n="Basic">Завершенные</div>
                    </a>
                </li>

            </ul>
        </li>

        <li class="menu-item ">
            <a href="{% url 'analytics' %}" class="menu-link">
                <i class='menu-icon bx bxs-bar-chart-alt-2'></i>
                <div data-i18n="Analytics">Аналитика</div>
            </a>
        </li>
        {% endif %}
        {% if 'user_id' not in request.session %}
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon bx bxs-lock-open-alt'></i>
                    <div>Авторизация</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="{% url 'login' %}" class="menu-link" target="">
                            <div data-i18n="Basic">Вход</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'register' %}" class="menu-link">
                            <div data-i18n="Basic">Регистрация</div>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}


    </ul>
</aside>
