{% load static %}

{% include 'home/blocks/header.html' %}

{% include 'home/blocks/menu.html' %}

{% include 'home/blocks/navbar.html' %}
{{ info }}

<a href="{% url 'add_genres_from_file' %}"> add_genres_from_file </a>
<a href="{% url 'add_authors_from_file' %}"> add_authors_from_file </a>
<a href="{% url 'add_books_from_file' %}"> add_books_from_file </a>
<a href="{% url 'generate_users' %}"> generate_users </a>
<a href="{% url 'transfer_data_to_books_sources' %}"> transfer_data_to_books_sources </a>


{% include 'home/blocks/footer.html' %}