{% load static %}



{% include 'home/blocks/header.html' %}

{% include 'home/blocks/menu.html' %}

{% include 'home/blocks/navbar.html' %}

<!-- Content wrapper -->

<div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="col-sm-7">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary">Здравствуйте Пользак! 🎉</h5>
                                            <p class="mb-4">
                                                Здесь Вы можете посмотреть расширенную статистику по своему профилю.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 text-center text-sm-left">
                                        <div class="card-body pb-0 px-0 px-md-4">
                                            <img
                                                    src="{% static "./home/assets/img/illustrations/man-with-laptop-light.png" %}"
                                                    height="140"
                                                    alt="View Badge User"
                                                    data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                                    data-app-light-img="illustrations/man-with-laptop-light.png"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 order-1">
                            <div class="row">

                                {% include 'analytics/blocks/favorite-author.html' with favoriteAuthor=favoriteAuthor %}

                                {% include 'analytics/blocks/favorite-genre.html' with favoriteGenre=favoriteGenre %}

                            </div>
                        </div>
                        <!-- Total Revenue -->
                        <!--/ Total Revenue -->
                        <div class="col-12 col-md-12 col-lg-4 order-3 order-md-2">
                            <div class="row">
                                {% include 'analytics/blocks/money-spent.html' with totalMoneySpent=totalMoneySpent%}

                                {% include 'analytics/blocks/books-in-progress.html' with booksInProgressCount=booksInProgressCount%}

                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4 order-3 order-md-2">
                            <div class="row">

                                {% include 'analytics/blocks/future-books.html' with futureBooksCount=futureBooksCount%}

                                {% include 'analytics/blocks/pages-per-month.html' with totalPagesReadPerMonth=totalPagesReadPerMonth%}

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Order Statistics -->
                        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
                            <div class="card h-100">
                                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                    <div class="card-title mb-0">
                                        <h5 class="m-0 me-2">Статистика по жанрам</h5>
                                    </div>
                                    <div class="dropdown">
                                        <button
                                                class="btn p-0"
                                                type="button"
                                                id="orederStatistics"
                                                data-bs-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                        >
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                                            <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div class="d-flex flex-column align-items-center gap-1">
                                            <h2 class="mb-2">{{ genreStatistics|length }}</h2>
                                            <span>Всего Жанров</span>
                                        </div>
                                        <div id="orderStatisticsChart"></div>
                                    </div>

                                    <ul class="p-0 m-0">
                                        {% for genre in genreStatistics|slice:":3" %}
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <span class="avatar-initial rounded bg-label-primary"></span>
                                            </div>
                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h6 class="mb-0">{{ genre.genre_name }}</h6>
                                                </div>
                                                <div class="user-progress">
                                                    <small class="fw-semibold">{{ genre.book_count  }}</small>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/ Order Statistics -->

                        <!-- Expense Overview -->
                        <div class="col-md-6 col-lg-4 order-1 mb-4">
                            <div class="card h-100">
                                <div class="card-header">
                                    <h5 class="m-0 me-2">Количество книг по месяцам</h5>

                                </div>
                                <div class="card-body px-0">
                                    <div class="tab-content p-0">
                                        <div class="tab-pane fade show active" id="navs-tabs-line-card-income"
                                             role="tabpanel">
                                            <div class="d-flex p-4 pt-3">
                                                <div class="avatar flex-shrink-0 me-3">
                                                    <img src="{% static "./home/assets/img/icons/unicons/wallet.png"%}" alt="User"/>
                                                </div>
                                                <div>
                                                    <small class="text-muted d-block">Всего книг</small>
                                                    <div class="d-flex align-items-center">
                                                        <h6 class="mb-0 me-1">30</h6>
                                                        <small class="text-success fw-semibold">
                                                            <i class="bx bx-chevron-up"></i>
                                                            42.9%
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="incomeChart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Expense Overview -->

                        <!-- Transactions -->
                        <div class="col-md-6 col-lg-4 order-2 mb-4">
                            <div class="card h-100">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h5 class="card-title m-0 me-2">Интересные числа</h5>
                                    <div class="dropdown">
                                        <button
                                                class="btn p-0"
                                                type="button"
                                                id="transactionID"
                                                data-bs-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                        >
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                                            <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="p-0 m-0">
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <img src="{% static "./home/assets/img/icons/unicons/free-icon-review-8919532.png"%}"
                                                     alt="User"
                                                     class="rounded"/>
                                            </div>
                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h6 class="mb-0">Оставлено отзывов</h6>
                                                </div>
                                                <div class="user-progress d-flex align-items-center gap-1">
                                                    <h6 class="mb-0">{{ reviewsCount }}</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <img src="{% static "./home/assets/img/icons/unicons/free-icon-book-10869211.png"%}"
                                                     alt="User"
                                                     class="rounded"/>
                                            </div>
                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h6 class="mb-0">Прочитано книг</h6>
                                                </div>
                                                <div class="user-progress d-flex align-items-center gap-1">
                                                    <h6 class="mb-0">{{ completedBooks }}</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <img src="{% static "./home/assets/img/icons/unicons/free-icon-review-8862775.png"%}"
                                                     alt="User"
                                                     class="rounded"/>
                                            </div>
                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h6 class="mb-0">Минимальная оценка</h6>
                                                </div>
                                                <div class="user-progress d-flex align-items-center gap-1">
                                                    <h6 class="mb-0">{{ minReviewScore }}</h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <img src="{% static "./home/assets/img/icons/unicons/free-icon-review-5124772.png"%}"
                                                     alt="User"
                                                     class="rounded"/>
                                            </div>
                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h6 class="mb-0">Максимальная оценка</h6>
                                                </div>
                                                <div class="user-progress d-flex align-items-center gap-1">
                                                    <h6 class="mb-0"> {{ maxReviewScore }} </h6>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="d-flex mb-4 pb-1">
                                            <div class="avatar flex-shrink-0 me-3">
                                                <img src="{% static "./home/assets/img/icons/unicons/free-icon-rating-3350100.png"%}"
                                                     alt="User"
                                                     class="rounded"/>
                                            </div>
                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                <div class="me-2">
                                                    <h6 class="mb-0">Средняя оценка</h6>
                                                </div>
                                                <div class="user-progress d-flex align-items-center gap-1">
                                                    <h6 class="mb-0">{{ medReviewScore }}</h6>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/ Transactions -->
                    </div>
                </div>


    {% include 'home/blocks/footer.html' %}

