{% load static %}

{% include 'home/blocks/header.html' %}

{% include 'home/blocks/menu.html' %}

{% include 'home/blocks/navbar.html' %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Настройки аккаунта / </span>Аккаунт
        </h4>

        <div class="row">
            <div class="col-md-12">
                <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
                <div class="card mb-4">
                    <h5 class="card-header">Детали Профиля</h5>
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img
                                    src="{% static './home/img/' %}{{ profile_picture }}"
                                    alt="user-avatar"
                                    class="d-block rounded"
                                    height="100"
                                    width="100"
                                    id="uploadedAvatar"
                            />

                            <div class="mb-3 row">
                                {{ form.profile_picture }}
                            </div>
                        </div>
                    </div>
                    <hr class="my-0"/>
                    <div class="card-body">
                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Имя</label>
                                    {{ form.name }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="lastName" class="form-label">Фамилия</label>
                                    {{ form.last_name }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="birth_date" class="form-label">Год рождения</label>
                                    {{ form.birthdate }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    {{ form.email }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="about_user" class="form-label">Расскажите о себе</label>
                                    {{ form.about }}
                                </div>
                                <div class="mb-3 col-md-4">
                                    <label for="about_user" class="form-label">Сколько читаете</label>
                                    <div class="input-group">
                                        <span class="input-group-text">Количество страниц в день</span>
                                        {{ form.pages_per_day }}
                                    </div>
                                </div>


                            </div>
                            <div class="mt-2">
                                <button name="save_account_info" class="btn btn-primary me-2">Сохранить изменения
                                </button>
                                <button type="reset" class="btn btn-outline-secondary">Закрыть</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
                <style>
                    .btn-group {
                        margin: 3px 3px 2px; /* Пример вертикального отступа 10 пикселей, можно изменить по вашему выбору */
                    }
                </style>
                <div class="col-md mb-4 mb-md-0">
                    <div class="accordion mt-3" id="accordionExample">
                        <div class="card accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#accordionOne" aria-expanded="false" aria-controls="accordionOne">
                                    <strong>Мои жанры</strong></button>
                                </button>
                            </h2>
                            <form method="post">
                            {% csrf_token %}
                            <div id="accordionOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                                 style="overflow-y: scroll; max-height: 300px;">
                                <div class="accordion-body">
                                    {% for genre in genres %}
                                        {% if genre.id in chosenGenres %}
                                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                                <input type="checkbox" checked name="genre_{{ genre.id }}" class="btn-check" id="{{ genre.id }}" value="{{ genre.id }}" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="{{ genre.id }}">{{ genre.genre_name }}</label>
                                            </div>
                                        {% else %}
                                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                                <input type="checkbox" name="genre_{{ genre.id }}" class="btn-check" id="{{ genre.id }}" value="{{ genre.id }}" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="{{ genre.id }}">{{ genre.genre_name }}</label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>

                <br/>
                <div class="card">
                    <h5 class="card-header">Удалить акккаунт</h5>
                    <div class="card-body">
                        <div class="mb-3 col-12 mb-0">
                            <div class="alert alert-warning">
                                <h6 class="alert-heading fw-bold mb-1">Вы уверены, что хотите удалить свою
                                    учетную запись?
                                </h6>
                                <p class="mb-0">Как только вы удалите свою учетную запись, обратного
                                    возвращения не будет. Пожалуйста, будьте уверены.</p>
                            </div>
                        </div>
                        <form id="formAccountDeactivation" method="post">
                            {% csrf_token %}
                            <button type="button"  class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#modalToggle">
                                Удалить Аккаунт
                            </button>
                            <div class="modal fade"  id="modalToggle"  aria-labelledby="modalToggleLabel"  tabindex="-1"  style="display: none" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalToggleLabel">ПРЕДУПРЕЖДАЕМ!!!</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">Ваш аккаунт удалится навсегда :(</div>
                              <div class="modal-footer">
                                <button name="deactivate-account"
                                  class="btn btn-danger"
                                  data-bs-target="#modalToggle2"
                                  data-bs-toggle="modal"
                                  data-bs-dismiss="modal"
                                >
                                  Удалить
                                </button>
                              </div>
                            </div>
                          </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- / Content -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script type="application/javascript">
        // Add event listeners to the checkbox elements
        $('.btn-check').on('click', function() {
          const genreId = $(this).val();
          const isActive = $(this).is(':checked');

          // Send AJAX request to the controller
          $.ajax({
            url: '{% url 'account' %}',
            type: 'POST',
            data: {
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
              genre_id: genreId,
              action: isActive ? 'add' : 'remove'
            },
            success: function() {
              // Handle success if needed
            },
            error: function(xhr, status, error) {
              // Handle error if needed
            }
          });
        });


    </script>

    {% include 'home/blocks/footer.html' %}