{% load static %}

{% include 'home/blocks/header.html' %}

{% include 'home/blocks/menu.html' %}

{% include 'home/blocks/navbar.html' %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Настройки аккаунта / </span>Аккаунт
        </h4>

        <div class="row">
            <div class="col-md-12">
                <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
                    <div class="card mb-4">
                        <h5 class="card-header">Детали Профиля</h5>
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img
                                        src="{% static './home/img/' %}{{ profile_picture }}"
                                        alt="user-avatar"
                                        class="d-block rounded"
                                        height="100"
                                        width="100"
                                        id="uploadedAvatar"
                                />

                                <div class="mb-3 row">
                                    {{ form.profile_picture }}
                                </div>
                            </div>
                        </div>
                        <hr class="my-0"/>
                        <div class="card-body">

                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Имя</label>
                                    {{ form.name }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="lastName" class="form-label">Фамилия</label>
                                    {{ form.last_name }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="birth_date" class="form-label">Год рождения</label>
                                    {{ form.birthdate }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    {{ form.email }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="about_user" class="form-label">Расскажите о себе</label>
                                    {{ form.about }}
                                </div>

                                <div class="mb-3 col-md-4">
                                    <label for="about_user" class="form-label">Сколько читаете</label>
                                    <div class="input-group">
                                        <span class="input-group-text">Количество страниц в день</span>
                                        <input type="number" name="days" class="form-control">
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div class="mt-2">
                                <button name="save_account_info" class="btn btn-primary me-2">Сохранить изменения
                                </button>
                                <button type="reset" class="btn btn-outline-secondary">Закрыть</button>
                            </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
        <!--        <div class="col-md">-->
        <!--            <div id="accordionIcon" class="accordion mt-3 accordion-without-arrow">-->
        <!--                <div class="accordion-item card">-->
        <!--                    <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconOne">-->
        <!--                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"-->
        <!--                                data-bs-target="#accordionIcon-1" aria-controls="accordionIcon-1">-->
        <!--                            <strong>Мои жанры</strong></button>-->
        <!--                    </h2>-->
        <!--                            <style>-->
        <!--                                .btn-group {-->
        <!--                                    margin-bottom: 3px; /* Пример вертикального отступа 10 пикселей, можно изменить по вашему выбору */-->
        <!--                                }-->
        <!--                            </style>-->
        <!--                    <div id="accordionIcon-1" class="accordion-collapse collapse" data-bs-parent="#accordionIcon"-->
        <!--                         style="overflow-y: scroll; max-height: 200px;">-->
        <!--                        <div class="modal-body">-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>-->
        <!--                            </div>-->
        <!--                            <div class="btn-group" role="group"-->
        <!--                                 aria-label="Basic checkbox toggle button group">-->
        <!--                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">-->
        <!--                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>-->
        <!--                            </div>-->

        <!--                        </div>-->

        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="col-md">-->
        <!--            <div id="accordionIcon2" class="accordion mt-3 accordion-without-arrow">-->
        <!--                <div class="accordion-item card">-->
        <!--                    <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconTwo">-->
        <!--                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"-->
        <!--                                data-bs-target="#accordionIcon-2" aria-controls="accordionIcon-2" aria-expanded="false">-->
        <!--                            <strong>Удалить аккаунт</strong></button>-->
        <!--                        </button>-->
        <!--                    </h2>-->
        <!--                    <div id="accordionIcon-2" class="accordion-collapse collapse" data-bs-parent="#accordionIcon">-->
        <!--                        <div class="card-body">-->
        <!--                            <div class="mb-3 col-12 mb-0">-->
        <!--                                <div class="alert alert-warning">-->
        <!--                                    <h6 class="alert-heading fw-bold mb-1">Вы уверены, что хотите удалить свою-->
        <!--                                        учетную запись?-->
        <!--                                    </h6>-->
        <!--                                    <p class="mb-0">Как только вы удалите свою учетную запись, обратного-->
        <!--                                        возвращения не будет. Пожалуйста, будьте уверены.</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <form id="formAccountDeactivation" method="post">-->
        <!--                                {% csrf_token %}-->
        <!--                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"-->
        <!--                                        data-bs-target="#modalToggle">-->
        <!--                                    Удалить-->
        <!--                                </button>-->
        <!--                                <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel"-->
        <!--                                     tabindex="-1"-->
        <!--                                     style="display: none" aria-hidden="true">-->
        <!--                                    <div class="modal-dialog modal-dialog-centered">-->
        <!--                                        <div class="modal-content">-->
        <!--                                            <div class="modal-header">-->
        <!--                                                <h5 class="modal-title" id="modalToggleLabel">ПРЕДУПРЕЖДАЕМ!!!</h5>-->
        <!--                                                <button-->
        <!--                                                        type="button"-->
        <!--                                                        class="btn-close"-->
        <!--                                                        data-bs-dismiss="modal"-->
        <!--                                                        aria-label="Close"-->
        <!--                                                ></button>-->
        <!--                                            </div>-->

        <!--                                            <div class="modal-body">Ваш аккаунт удалится навсегда :(</div>-->
        <!--                                            <div class="modal-footer">-->
        <!--                                                <button name="deactivate-account"-->
        <!--                                                        class="btn btn-danger"-->
        <!--                                                        data-bs-target="#modalToggle2"-->
        <!--                                                        data-bs-toggle="modal"-->
        <!--                                                        data-bs-dismiss="modal"-->
        <!--                                                >-->
        <!--                                                    Удалить-->
        <!--                                                </button>-->
        <!--                                            </div>-->
        <!--                                        </div>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </form>-->
        <!--                        </div>-->

        <!--                    </div>-->
        <!--                </div>-->

        <!--            </div>-->
        <!--        </div>-->
        <div class="col-md mb-4 mb-md-0">
            <div class="accordion mt-3" id="accordionExample">
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#accordionOne" aria-expanded="false" aria-controls="accordionOne">
                            <strong>Мои жанры</strong></button>
                        </button>
                    </h2>

                    <div id="accordionOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                         style="overflow-y: scroll; max-height: 200px;">
                        <div class="accordion-body">
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">боевки </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">детективы </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck6">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck7">Классика </label>
                            </div>
                            <div class="btn-group" role="group"
                                 aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck8">Классика </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                            <strong>Удалить Аккаунт</strong></button>
                        </button>
                    </h2>
                    <style>
                        .btn-group {
                            margin-bottom: 3px; /* Пример вертикального отступа 10 пикселей, можно изменить по вашему выбору */
                        }
                    </style>
                    <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample" style="">
                        <div class="accordion-body">
                            <div class="mb-3 col-12 mb-0">
                                <div class="alert alert-warning">
                                    <h6 class="alert-heading fw-bold mb-1">Вы уверены, что хотите удалить свою
                                        учетную запись?
                                    </h6>
                                    <p class="mb-0">Как только вы удалите свою учетную запись, обратного
                                        возвращения не будет. Пожалуйста, будьте уверены.</p>
                                </div>
                            </div>
                            <form id="formAccountDeactivation" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#modalToggle">
                                    Удалить
                                </button>
                                <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel"
                                     tabindex="-1"
                                     style="display: none" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalToggleLabel">ПРЕДУПРЕЖДАЕМ!!!</h5>
                                                <button
                                                        type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"
                                                ></button>
                                            </div>

                                            <div class="modal-body">Ваш аккаунт удалится навсегда :(</div>
                                            <div class="modal-footer">
                                                <button name="deactivate-account"
                                                        class="btn btn-danger"
                                                        data-bs-target="#modalToggle2"
                                                        data-bs-toggle="modal"
                                                        data-bs-dismiss="modal"
                                                >
                                                    Удалить
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--        <div class="card">-->
        <!--            <h5 class="card-header">Удалить акккаунт</h5>-->
        <!--            <div class="card-body">-->
        <!--                <div class="mb-3 col-12 mb-0">-->
        <!--                    <div class="alert alert-warning">-->
        <!--                        <h6 class="alert-heading fw-bold mb-1">Вы уверены, что хотите удалить свою-->
        <!--                            учетную запись?-->
        <!--                        </h6>-->
        <!--                        <p class="mb-0">Как только вы удалите свою учетную запись, обратного-->
        <!--                            возвращения не будет. Пожалуйста, будьте уверены.</p>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <form id="formAccountDeactivation" method="post">-->
        <!--                    {% csrf_token %}-->
        <!--                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalToggle">-->
        <!--                        Удалить-->
        <!--                    </button>-->
        <!--                    <div class="modal fade" id="modalToggle" aria-labelledby="modalToggleLabel" tabindex="-1"-->
        <!--                         style="display: none" aria-hidden="true">-->
        <!--                        <div class="modal-dialog modal-dialog-centered">-->
        <!--                            <div class="modal-content">-->
        <!--                                <div class="modal-header">-->
        <!--                                    <h5 class="modal-title" id="modalToggleLabel">ПРЕДУПРЕЖДАЕМ!!!</h5>-->
        <!--                                    <button-->
        <!--                                            type="button"-->
        <!--                                            class="btn-close"-->
        <!--                                            data-bs-dismiss="modal"-->
        <!--                                            aria-label="Close"-->
        <!--                                    ></button>-->
        <!--                                </div>-->

        <!--                                <div class="modal-body">Ваш аккаунт удалится навсегда :(</div>-->
        <!--                                <div class="modal-footer">-->
        <!--                                    <button name="deactivate-account"-->
        <!--                                            class="btn btn-danger"-->
        <!--                                            data-bs-target="#modalToggle2"-->
        <!--                                            data-bs-toggle="modal"-->
        <!--                                            data-bs-dismiss="modal"-->
        <!--                                    >-->
        <!--                                        Удалить-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
</div>
<!-- / Content -->

{% include 'home/blocks/footer.html' %}