{% load static %}

{% include 'home/blocks/header.html' %}

{% include 'home/blocks/menu.html' %}

{% include 'home/blocks/navbar.html' %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Настройки аккаунта / </span>Аккаунт
        </h4>

        <div class="row">
            <div class="col-md-12">
                <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
                <div class="card mb-4">
                    <h5 class="card-header">Детали Профиля</h5>
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img
                                    src="{% static './home/img/' %}{{ profile_picture }}"
                                    alt="user-avatar"
                                    class="d-block rounded"
                                    height="100"
                                    width="100"
                                    id="uploadedAvatar"
                            />

                            <div class="mb-3 row">
                                {{ form.profile_picture }}
                            </div>
                        </div>
                    </div>
                    <hr class="my-0"/>
                    <div class="card-body">

                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Имя</label>
                                    {{ form.name }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="lastName" class="form-label">Фамилия</label>
                                    {{ form.last_name }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="birth_date" class="form-label">Год рождения</label>
                                    {{ form.birthdate }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    {{ form.email }}
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="about_user" class="form-label">Расскажите о себе</label>
                                    {{ form.about }}
                                </div>

                            </div>
                            <div class="mt-2">
                                <button name="save_account_info" class="btn btn-primary me-2">Сохранить изменения
                                </button>
                                <button type="reset" class="btn btn-outline-secondary">Закрыть</button>
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>
                <div class="card">
                    <h5 class="card-header">Удалить акккаунт</h5>
                    <div class="card-body">
                        <div class="mb-3 col-12 mb-0">
                            <div class="alert alert-warning">
                                <h6 class="alert-heading fw-bold mb-1">Вы уверены, что хотите удалить свою
                                    учетную запись?
                                </h6>
                                <p class="mb-0">Как только вы удалите свою учетную запись, обратного
                                    возвращения не будет. Пожалуйста, будьте уверены.</p>
                            </div>
                        </div>
                        <form id="formAccountDeactivation" method="post">
                            {% csrf_token %}
<!--                            <div class="form-check mb-3">-->
<!--                                <input-->
<!--                                        class="form-check-input"-->
<!--                                        type="checkbox"-->
<!--                                        name="accountActivation"-->
<!--                                        id="accountActivation"-->
<!--                                />-->
<!--                                <label class="form-check-label" for="accountActivation"-->
<!--                                >Я подтверждаю удаление моего аккаунта</label-->
<!--                                >-->
<!--                            </div>-->
                            <button type="button"  class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#modalToggle">
                                Удалить Аккаунт
                            </button>
                            <div class="modal fade"  id="modalToggle"  aria-labelledby="modalToggleLabel"  tabindex="-1"  style="display: none" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalToggleLabel">ПРЕДУПРЕЖДАЕМ!!!</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">Ваш аккаунт удалится навсегда :(</div>
                              <div class="modal-footer">
                                <button name="deactivate-account"
                                  class="btn btn-danger"
                                  data-bs-target="#modalToggle2"
                                  data-bs-toggle="modal"
                                  data-bs-dismiss="modal"
                                >
                                  Удалить
                                </button>
                              </div>
                            </div>
                          </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->

    {% include 'home/blocks/footer.html' %}