{% load static %}

{% include 'home/blocks/header.html' %}

{% include 'home/blocks/menu.html' %}

{% include 'home/blocks/navbar.html' %}
<div class="content-wrapper">
                <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <!--    <h4 class="fw-bold py-3 mb-0">Обезьяна с гранатой:</h4>-->
        <div class="row">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                    <h4 class="fw-bold py-1 mb-2 center"> {{ book.book_name }}</h4>
                        <div class="col-lg-4 mb-6 mb-xl-0">
                            <div class="book-details">
                                <div class="book-info">
                                    <div class="image-frame">
                                        <img src="{{ book.pic_link }}"
                                             width="250" height="auto">
                                        <!--                                         alt="{{ book.title }}" class="book-cover">-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="demo-inline-spacing mt-3">
                                <div class="list-group list-group-horizontal-md text-md-center">
                                    <a class="list-group-item list-group-item-action active"
                                       id="home-list-item"
                                       data-bs-toggle="list" href="#horizontal-home"> Описание </a>
                                    <a class="list-group-item list-group-item-action" id="profile-list-item"
                                       data-bs-toggle="list" href="#horizontal-profile"> Информация </a>
                                    <a class="list-group-item list-group-item-action"
                                       id="messages-list-item"
                                       data-bs-toggle="list" href="#horizontal-messages"> Об авторе </a>
                                    <a class="list-group-item list-group-item-action" id="leeds-list-item"
                                       data-bs-toggle="list" href="#horizontal-settings"> Купить </a>
                                </div>
                                <div class="tab-content px-0 mt-0" style="text-align: left">
                                    <div class="tab-pane fade show active tex" id="horizontal-home">
                                        {{ book.description }}
                                    </div>
                                    <div class="tab-pane fade" id="horizontal-profile">
                                        <p><strong>Авторы:</strong>
                                            {% for author_id, author_name in book.authors %}
                                                <a href="{% url 'view_book' author_id %}">{{ author_name }}</a>{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>


                                        <p><strong>Жанры:</strong>
                                            {% for genre_id, genre_name in book.genres %}
                                                <a href="{% url 'view_book' genre_id %}">{{ genre_name }}</a>{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                        <p><strong>Оценка:</strong> {{ book.score }} </p>
                                    </div>
                                    <div class="tab-pane fade" id="horizontal-messages">
                                        <p> Автор красава </p>
                                    </div>
                                    <div class="tab-pane fade" id="horizontal-settings">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                            <div class="col-md-12">
                                <div class="book-details">
                                    <div class="book-info">
                                        <h4 class="fw-bold py-3 mb-4">Отзывы:</h4>
                                        <div class="col-md mb-4 mb-md-0">

                                            <form method="post">
                                                {% csrf_token %}
                                                <div class="accordion mt-3" id="accordionExample">
                                                    {% if book.canReview %}
                                                    <div class="card accordion-item">
                                                        <h2 class="accordion-header" id="headingThree">
                                                            <div class="input-group input-group-merge speech-to-text">
                                                                <textarea class="form-control"
                                                                          placeholder="Напишите свой отзыв" rows="2"
                                                                          style="height: 75px;" name="text"></textarea>
                                                                <span class="input-group-text">
                                                                  <i class="bx bx-microphone cursor-pointer text-to-speech-toggle"></i>
                                                                </span>
                                                            </div>
                                                        </h2>
                                                    </div>

                                                    <br>
                                                    <div style="font-size: 20px">


                                                        <div class="col-md-4">
                                                          <div class="input-group">
                                                          <span class="input-group-text">Время прочтения (в днях)</span>
                                                          <input type="number"  name='days' class="form-control">
                                                        </div>
                                                        </div>

                                                        <br>


                                                        <div class="rating-area">
                                                            <strong>Оценка:</strong>
                                                            <input type="radio" id="star-5" name="rating" value="5">
                                                            <label for="star-5" title="Оценка «5»"></label>
                                                            <input type="radio" id="star-4" name="rating" value="4">
                                                            <label for="star-4" title="Оценка «4»"></label>
                                                            <input type="radio" id="star-3" name="rating" value="3">
                                                            <label for="star-3" title="Оценка «3»"></label>
                                                            <input type="radio" id="star-2" name="rating" value="2">
                                                            <label for="star-2" title="Оценка «2»"></label>
                                                            <input type="radio" id="star-1" name="rating" value="1">
                                                            <label for="star-1" title="Оценка «1»"></label>
                                                        </div>

                                                        <style>
                                                            .rating-area {
                                                                overflow: hidden;
                                                                width: 300px;
                                                                margin: 0 0;
                                                            }
                                                            .rating-area:not(:checked) > input {
                                                                display: none;
                                                            }
                                                            .rating-area:not(:checked) > label {
                                                                float: right;
                                                                width: 42px;
                                                                padding: 0;
                                                                cursor: pointer;
                                                                font-size: 32px;
                                                                line-height: 32px;
                                                                color: lightgrey;
                                                                text-shadow: 1px 1px #bbb;
                                                            }
                                                            .rating-area:not(:checked) > label:before {
                                                                content: '★';
                                                            }
                                                            .rating-area > input:checked ~ label {
                                                                color: gold;
                                                                text-shadow: 1px 1px #c60;
                                                            }
                                                            .rating-area:not(:checked) > label:hover,
                                                            .rating-area:not(:checked) > label:hover ~ label {
                                                                color: gold;
                                                            }
                                                            .rating-area > input:checked + label:hover,
                                                            .rating-area > input:checked + label:hover ~ label,
                                                            .rating-area > input:checked ~ label:hover,
                                                            .rating-area > input:checked ~ label:hover ~ label,
                                                            .rating-area > label:hover ~ input:checked ~ label {
                                                                color: gold;
                                                                text-shadow: 1px 1px goldenrod;
                                                            }
                                                            .rate-area > label:active {
                                                                position: relative;
                                                            }
                                                        </style>

                                                    </div>
                                                    <br>

                                                    <div class="d-grid gap-2 col-lg-2">

                                                    <button class="btn btn-primary btn-lg" name="save-review">Сохранить отзыв</button>

                                                    </div>
                                                    {% endif %}
                                                    <br>
                                                    {% for review in book.reviews %}
<!--                                                    <div>-->
<!--                                                        <button type="button" class="accordion-button collapsed"-->
<!--                                                                data-bs-toggle="collapse" data-bs-target="#accordion{{ review.id }}"-->
<!--                                                                aria-expanded="false" aria-controls="accordion{{ review.id }}">-->
<!--                                                            <strong>{{ review.account.name }}</strong>-->
<!--                                                            <span style="margin-left: 5px; color: royalblue;">{{ review.score }}</span>-->
<!--                                                            <span class="star-icon"-->
<!--                                                                  style="vertical-align: middle; color: royalblue; font-size: 16px; margin-left: 5px;">&#9733;</span>-->
<!--                                                            <div id="accordion{{ review.id }}" class="accordion-collapse collapse"-->
<!--                                                             aria-labelledby="heading{{ review.id }}"-->
<!--                                                             data-bs-parent="#accordionExample" style="">-->
<!--                                                                <div class="accordion-body">-->
<!--                                                                    {{ review.text }}-->
<!--                                                                </div>-->
<!--                                                            </div>-->

<!--                                                        </button>-->
<!--                                                    </div>-->
                                                    <div class="col-md mb-4 mb-md-0">
                                                        <div class="accordion mt-3" id="accordionExample">
                                                          <div class="card accordion-item">
                                                            <h2 class="accordion-header" id="headingTwo">
                                                              <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                                                                Пользак
                                                                  <span style="margin-left: 5px; color: royalblue;">{{ review.score }}</span>
                                                                    <span class="star-icon" style="vertical-align: middle; color: royalblue; font-size: 16px; margin-left: 5px;">&#9733;</span>
                                                              </button>
                                                            </h2>
                                                            <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                                                              <div class="accordion-body">
                                                                Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake dragée ice
                                                                cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies. Jelly beans candy canes
                                                                carrot cake. Fruitcake chocolate chupa chups.
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    {% endfor %}

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>


{% include 'home/blocks/footer.html' %}